@import "./variables";
@import "./mixins";

html {
  background: darken($primary, 2%);
  min-height: 100%;
}

#app {
  min-height: 100vh;
  background-color: $primary;

  @include breakpoint("tablet") {
    margin: 0 auto;
  }
}
